# Configuración del Backend API
PORT=8088

# PostgreSQL 16 (Bóveda y Operaciones)
PG_HOST=postgres-core
PG_PORT=5432
PG_USER=postgres_admin
PG_PASS=MasterAdminDB2026!
PG_DB=corte_y_sastre_db

# MongoDB 7.0 (Buffer de Ingesta Volátil DMZ)
MONGO_URI=mongodb://admin_buffer:BufferSecure2026!@mongo-buffer:27017/pedidos_buffer?authSource=admin

# LocalStack AWS Emulado (SQS)
AWS_ENDPOINT=http://localstack:4566
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/pedidos-buffer-queue

# Integración 2FA Fuera de Banda (Telegram Bot)
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
